body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: auto;
  width: 50%;
}

.vert-center-span {
  display: inline-flex;
  align-items: center;
}

.background-field {
  background-image: url(./assets/wheat.jpg);
  min-height: 450px;
}

.container {
  text-align: center;
}

.contained {
  display: 'inline-block'
}

.pointer {
  cursor: 'pointer'
}

.rounded-corner {
  border-radius: 25px;
}

.center-list-item-33 {
  transform: translate(33.333%, 0%);
}

.center-list-item-25 {
  transform: translate(25%, 0%);
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}
